<!-- <!DOCTYPE html>
<html>
<head>
    <title>Artist Detail</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="artist-detail">
        <h1>{{.Artist.Name}}</h1>
        <p>Members: {{range .Artist.Members}}{{.}}, {{end}}</p>
        <p>Creation Date: {{.Artist.CreationDate}}</p>
        <p>First Album: {{.Artist.FirstAlbum}}</p>
        <p>Location: {{.Artist.Location}}</p>
        <p>Concert Date: {{.Artist.ConcertDate}}</p>
        <p>Relation: {{.Artist.Relation}}</p>
    </div>
</body>
</html> -->

<!DOCTYPE html>
<html>
<head>
    <title>Artist Detail</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="artist-detail">
        <h1>{{.Artist.Name}}</h1>
        <img src="{{ .Artist.Image }}" alt="Turs">
        <p>Members: {{range .Artist.Members}}{{.}}, {{end}}</p>
        <p>Creation Date: {{.Artist.CreationDate}}</p>
        <p>First Album: {{.Artist.FirstAlbum}}</p>
        <p>Location:</p>
        <ul>
            {{range .Artist.Location.Locations}}
            <li>{{.}}</li>
            {{end}}
        </ul>
        <p>Location Dates ID: {{.Artist.Location.Dates.ID}}</p>
        <p>Location Dates:</p>
        <ul>
            {{range .Artist.Location.Dates.Dates}}
            <li>{{.}}</li>
            {{end}}
        </ul>
        <p>Concert Date:</p>
        <ul>
            {{range .Artist.ConcertDate.Dates}}
            <li>{{.}}</li>
            {{end}}
        </ul>
        <p>Relation Date Locations:</p>
        <ul>
            {{range $key, $value := .Artist.Relation.DatesLocations}}
            <li><strong>{{$key}}:</strong> {{range $value}}{{.}}, {{end}}</li>
            {{end}}
        </ul>
    </div>
</body>
</html>
