<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/bandPageStyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <title>{{.Artist.Name}}</title>
</head>
<body>
    <div class="container">
    <div class="main-vertical-container">
        <img class="image" src="{{.Artist.Image}}" alt="{{.Artist.Name}} photo">
        <div class="intro-text">
            <div class="band">{{.Artist.Name}}</div>
            <div class="first_album_line">First album</div>
            <div class="first_album">{{.Artist.FirstAlbum}}</div>
            <div class="creation_date">since {{.Artist.CreationDate}}</div>
            <div class="members" >
                {{range .Artist.Members}}
                <div class="member">  {{.}}</div>
                {{end}}
            </div>
    </div>
    </div>
    <div class="vertical-container">
        <a class="link" href="/">BACK</a>
       
            <div class="concert_container">
        <div class="concerts">
            {{range $location, $dates := .Artist.Relation.DatesLocations}}
            <div class="location">{{ $location }}</div>
            {{range $dates}}
            <div class="date">{{ . }}</div>
            {{end}}
            {{end}}
        </div>
        <div class="rounded-map-container">
            <div class="rounded-map">
                <iframe src="https://www.google.com/maps/embed?pb=..." style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
            </div>

    </div>
    </div>
</body>
</html>